<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reset Password</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment [(ngModel)]="link">
    <!-- ... (Segment buttons as before) ... -->
  </ion-segment>

  <ion-card class="ms-3 my-2">
    <ion-card-content>
      <h5>Reset Password</h5>

      <form class="row" [formGroup]="passwordForm" (ngSubmit)="resetPassword()">
        <div class="form-group col-6">
          <ion-item class="input-item">
            <ion-label position="floating">Current Password</ion-label>
            <ion-input type="password" formControlName="oldPassword"></ion-input>
          </ion-item>
          <ion-text class="error-text" *ngIf="passwordForm.get('oldPassword')?.hasError('required') && (passwordForm.get('oldPassword')?.touched !== null && passwordForm.get('oldPassword')?.touched)" color="danger">
            Current Password is required.
          </ion-text>
        </div>
        <br>
        <!-- New Password Input with Error Message -->
        <div class="form-group col-6">
          <ion-item class="input-item">
            <ion-label position="floating">New Password</ion-label>
            <ion-input type="password" formControlName="newPassword"></ion-input>
          </ion-item>
          <ion-text class="error-text" *ngIf="passwordForm.get('newPassword')?.hasError('required') && (passwordForm.get('newPassword')?.touched !== null && passwordForm.get('newPassword')?.touched)" color="danger">
            New Password is required.
          </ion-text>
          <ion-text class="error-text" *ngIf="passwordForm.get('newPassword')?.hasError('pattern') && (passwordForm.get('newPassword')?.touched !== null && passwordForm.get('newPassword')?.touched)" color="danger">
            New Password must meet the password complexity requirements.
          </ion-text>
        </div>
        <br>
      
<br>
        <div>
          <ion-button
          [disabled]="!passwordForm.valid"
          expand="full"
          shape="round"
          type="submit"
          class="small-button"
        >
          Submit
        </ion-button>
        
       
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>