<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-card class="ms-3 my-2">
    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email Input with Error Message -->
        <ion-item class="input-item">
          <ion-label position="floating">Email Address</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-text *ngIf="loginForm.get('email')?.hasError('required') && (loginForm.get('email')?.touched !== null && loginForm.get('email')?.touched)" color="danger">
          Email Address is required.
        </ion-text>
        <ion-text *ngIf="loginForm.get('email')?.hasError('email') && (loginForm.get('email')?.touched !== null && loginForm.get('email')?.touched)" color="danger">
          Invalid email format.
        </ion-text>
        <br>

        <!-- Password Input with Error Message -->
        <ion-item class="input-item">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-text *ngIf="loginForm.get('password')?.hasError('required') && (loginForm.get('password')?.touched !== null && loginForm.get('password')?.touched)" color="danger">
          Password is required.
        </ion-text>
        <br>

        <!-- Forgot Password Link -->
        <!-- <p><a (click)="openForgotPasswordModal()" style="text-decoration: underline;">Forgot Password?</a></p> -->

        <!-- Sign In Button -->
        <ion-button [disabled]="loginForm.invalid" expand="full" type="submit">Sign In</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <!-- Forgot Password Modal -->
  <ion-modal
    [isOpen]="showForgotPasswordModal"
    (ionDidDismiss)="showForgotPasswordModal = false"
    id="forgot-password-modal"
    [showBackdrop]="true"
    [animated]="true"
  >
    <!-- Modal Header -->
    <ion-header>
      <ion-toolbar>
        <ion-title>Forgot Password</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeForgotPasswordModal()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <!-- Modal Content -->
    <ion-content>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
        <!-- Email Input with Error Message -->
        <ion-item>
          <ion-label position="floating">Email Address</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-button [disabled]="forgotPasswordForm.invalid" expand="full" type="submit">Submit</ion-button>
      </form>
    </ion-content>
  </ion-modal>
</ion-content>