<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>PersonalDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PersonalDetails</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- ion-segment for tab selection -->
  <ion-segment [(ngModel)]="link" color="primary">
    <ion-segment-button routerLink="/tabs/personal" value="personal">
      <ion-label>Personal Details</ion-label>
    </ion-segment-button>
    <ion-segment-button routerLink="/tabs/address" value="address">
      <ion-label>Address</ion-label>
    </ion-segment-button>
    <ion-segment-button routerLink="/tabs/password" value="password">
      <ion-label>Reset Password</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card>
    <ion-card-content>
      <h5>Personal Details</h5>
      <form [formGroup]="DetailsForm" *ngIf="accountService.currentUser$ | async as user" (ngSubmit)="updateUserDetails()">
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ng-container *ngIf="user != null">
              <ion-avatar>
                <img [src]="user.profilePicture" style="max-height: 150px; width: 150px; object-fit: cover;">
              </ion-avatar>
            </ng-container>
          </ion-col>
        </ion-row>
      
        <ion-item [class.is-invalid]="DetailsForm?.get('displayName')?.invalid && DetailsForm?.get('displayName')?.touched">
          <ion-label position="floating">Display Name</ion-label>
          <ion-input type="text" formControlName="displayName"></ion-input>
        </ion-item>
        <ion-text *ngIf="DetailsForm?.get('displayName')?.invalid && DetailsForm?.get('displayName')?.touched" color="danger">
          <ng-container *ngIf="DetailsForm?.get('displayName')?.hasError('required')">
            Display Name is required.
          </ng-container>
          <ng-container *ngIf="DetailsForm?.get('displayName')?.hasError('minlength')">
            Display Name must have at least 3 characters.
          </ng-container>
          <ng-container *ngIf="DetailsForm?.get('displayName')?.hasError('maxlength')">
            Display Name must have at most 20 characters.
          </ng-container>
        </ion-text>
      
        <ion-item [class.is-invalid]="DetailsForm?.get('email')?.invalid && DetailsForm?.get('email')?.touched">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-text *ngIf="DetailsForm?.get('email')?.invalid && DetailsForm?.get('email')?.touched" color="danger">
          <ng-container *ngIf="DetailsForm?.get('email')?.hasError('required')">
            Email is required.
          </ng-container>
          <ng-container *ngIf="DetailsForm?.get('email')?.hasError('email')">
            Invalid email format.
          </ng-container>
        </ion-text>

        <ion-item>
          <ion-label position="floating">Profile Picture</ion-label>
          <ion-input type="file" (change)="uploadFile($event)" formControlName="profilePicture"></ion-input>
          <ion-button fill="clear" color="primary">
            <ion-icon name="attach"></ion-icon>
          </ion-button>
        </ion-item>
        
        
      </form>

      <ion-list *ngIf="errors">
        <ion-item *ngFor="let error of errors" color="danger">
          {{ error }}
        </ion-item>
      </ion-list>
      
      <ion-button [disabled]="DetailsForm?.invalid" expand="full" shape="round" type="submit" color="primary">Update</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
