<ion-header>
  <ion-toolbar>
    <!-- Side Menu Option -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- Title of page -->
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="products">
  <!-- Search Bar -->
  <ion-row class="ion-align-items-center pb-2">
    <ion-col size="4">
      <ion-input (ionInput)="onSearch($event)" type="text" placeholder="Search" #search></ion-input>
    </ion-col>
  
    <ion-col size="2">
      <ion-button color="primary" (click)="onReset()" class="mx-2">Reset</ion-button>
    </ion-col>
    
  
    <ion-col size="2">
      <ion-select (ionChange)="onSortSelected($event)" class="mx-2" placeholder="Sort By">
        <ion-select-option *ngFor="let sort of sortOptions" [value]="sort.value">{{ sort.name }}</ion-select-option>
      </ion-select>
    </ion-col>
  
    <ion-col size="2">
      <ion-select (ionChange)="onCategorySelected($event)" [(ngModel)]="shopParams.categoryId" class="mx-2" placeholder="Categories">
        <ion-select-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</ion-select-option>
      </ion-select>
    </ion-col>
  
    <ion-col size="2">
      <ion-select (ionChange)="onTypeSelected($event)" [(ngModel)]="shopParams.typeId" class="mx-2" placeholder="Types">
        <ion-select-option *ngFor="let type of types" [value]="type.id">{{ type.name }}</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <!-- Product View Options -->
  <div class="ion-text-end view-options">
    <!-- One Column Option -->
    <button [ngClass]="oneColumn ? 'active-button' : 'inactive-button'" (click)="showOneColumn()">
      <ion-icon slot="icon-only" name="square"></ion-icon>
    </button>

    <!-- Grid Option -->
    <button [ngClass]="grid ? 'active-button' : 'inactive-button'" (click)="showGrid()">
      <ion-icon slot="icon-only" name="grid"></ion-icon>
    </button>

    <!-- List View Option -->
    <button [ngClass]="list ? 'active-button' : 'inactive-button'" (click)="showList()">
      <ion-icon slot="icon-only" name="list"></ion-icon>
    </button>
  </div>

  <!-- Product List -->
  <!-- One Column View Contents -->
    <ion-grid id="oneColumn" *ngIf="oneColumn">
      <ion-row>
        <ion-col size="12" *ngFor="let product of products">
          <ion-card class="ion-no-margin">
            <!-- Product Image -->
              <ion-img [src]="product.pictureUrl"></ion-img>
            <ion-card-header>
              <ion-card-title>{{ product.name }}</ion-card-title>
              <ion-card-subtitle>{{ product.price | currency: 'R' }}</ion-card-subtitle>
              <!-- Add more product details here -->
            </ion-card-header>
            <!-- Add buttons or actions for the product here -->
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- Grid View -->
  <ion-grid *ngIf="grid">
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let product of products">
        <ion-card>
          <!-- Product Image -->
          <ion-img [src]="product.pictureUrl"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ product.name }}</ion-card-title>
            <ion-card-subtitle>{{ product.price | currency: 'R' }}</ion-card-subtitle>
            <!-- Add more product details here -->
          </ion-card-header>
          <!-- Add buttons or actions for the product here -->
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- List View -->
  <ion-list *ngIf="list">
    <ion-item *ngFor="let product of products">
      <!-- Product Image -->
      <ion-thumbnail slot="start">
        <ion-img [src]="product.pictureUrl"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>{{ product.price | currency: 'R' }}</p>
        <!-- Add more product details here -->
      </ion-label>
      <!-- Add buttons or actions for the product here -->
    </ion-item>
  </ion-list>
</ion-content>
