
<!-- Header -->
<ion-header class="ion-no-border">
    <ion-toolbar color="color1">
      <!-- Side Menu Option -->
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <!-- Title of page -->
      <ion-title>Products</ion-title>
      <!-- Product Filter Option -->
    </ion-toolbar>
  </ion-header>
  
  <!-- Contents -->
  <ion-content id="products">
  
    <!-- Search Bar -->
    <div class="d-flex justify-content-between align-items-center pb-2">
      <div class="d-flex mt-2">
        <input (keyup.enter)="onSearch()" type="text" placeholder="Search" class="form-control" #search>
        <button class="btn mx-2" style="background-color: #958F8A; color: white;" (click)="onSearch()">Search</button>
        <button style="background-color: #958F8A; color: white;" (click)="onReset()" class="btn mx-2">Reset</button>
        <select class="form-select mx-2" (change)="onSortSelected($event)">
          <option *ngFor="let sort of sortOptions" [value]="sort.value">
            {{ sort.name }}
          </option>
        </select>
        <div class="dropdown mx-2" dropdownToggle dropdown>
          <button style="background-color: #958F8A;" class="btn btn-primary"><i class="fa fa-filter"></i></button>
          <div *dropdownMenu class="dropdown-menu py-0">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let type of types" [class.active]="type.id === shopParams.typeId" [value]="type.id" (click)="onTypeSelected(type.id)">
                {{ type.name }}
              </li>
            </ul>
          </div>
        </div>
        <div class="dropdown mx-2" dropdownToggle dropdown>
          <button style="background-color: #958F8A;" class="btn btn-primary"><i class="fa fa-filter"></i></button>
          <div *dropdownMenu class="dropdown-menu py-0">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let category of categories" [class.active]="category.id === shopParams.categoryId" [value]="category.id" (click)="onCategorySelected(category.id)">
                {{ category.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Search Bar -->
    <ion-content id="products">
      <!-- Product List -->
      <ion-card *ngFor="let product of products">
        <!-- Product Image -->
        <ion-thumbnail slot="start">
          <img src ="{{ product.pictureUrl }}" />
        </ion-thumbnail>
        <ion-card-header>
          <ion-card-title>{{ product.name }}</ion-card-title>
          <ion-card-subtitle>{{ product.price | currency: 'R' }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
  
   
    