<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>


<div class="container" id="container" style="margin-top: 100px; margin-bottom: 100px;" >
  <div class="log-in-container" >
    <form  class="" style="height: auto;" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h1>Register</h1>
      <div class="form-group">
        <app-text-input [label]="'Display Name'" [formControl]="registerForm.controls['displayName']"></app-text-input>
        <app-text-input [label]="'Email'" type="email" [formControl]="registerForm.controls['email']"></app-text-input>
        <app-text-input [label]="'Password'" type="password" [formControl]="registerForm.controls['password']"></app-text-input>
        <label for="floatingInput">Profile Picture</label>
        <app-text-input [accept]="'image/*'" type="file" (change)="uploadFile($event)" [formControl]="registerForm.controls['profilePicture']" ></app-text-input>
        <label for="floatingInput">Roles</label>
        <select class="form-select mb-4" (change)="onRoleSelected($event)" [formControl]="registerForm.controls['roles']">
          <option *ngFor="let role of roles" [value]="role.id"> 
              {{role.name}}
          </option>
        </select>
      </div>
      <ul class="text-danger list-unstyled" *ngIf="errors">
          <li *ngFor="let error of errors">
              {{error}}
          </li>
      </ul>      
      <button [disabled]="registerForm.invalid" class="btn btn-primary mb-4" type="submit">Register</button>
    </form>
  </div>
  <div class="overlay-container">
    <img src="https://assets.website-files.com/5f4403514f0915cea7c6f0a1/60bde612136654dc7f6cebbc_erp-occasion-box-p-500.jpeg" alt="Login image" width="500" height="600">
  </div>
</div>
